{% extends 'base.html' %}

{% block title %} | Services {% endblock %}
{% block content %}

<!-- Sub banner start -->

<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Services</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Services</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Services start -->
<div class="services content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Our <span>Services</span></h1>
            <p>We always ready to serve you the Best Services</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">1</div>
                    <div class="icon">
                        <i class="flaticon-support-2"></i>
                    </div>
                    <div class="detail">
                        <h3>No-cost aid</h3>
                        <p>service campaigns providing free repairs or replacements for specific vehicle issues.
                           Manufacturer's customer service helpline for assistance with warranty-related issues or technical inquiries.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">2</div>
                    <div class="icon">
                        <i class="flaticon-speed"></i>
                    </div>
                    <div class="detail">
                        <h3>Blazing Fast</h3>
                        <p>cars are like speed demons on wheels, boasting lightning-quick acceleration and exhilarating performance that leaves other vehicles in the dust.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">3</div>
                    <div class="icon">
                        <i class="flaticon-motor"></i>
                    </div>
                    <div class="detail">
                        <h3>Servicing</h3>
                        <p>Car servicing includes regular maintenance tasks like engine tune-ups, fluid checks, brake inspections, tire rotations, and safety checks to keep your vehicle running smoothly and safely.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">4</div>
                    <div class="icon">
                        <i class="flaticon-air-conditioner"></i>
                    </div>
                    <div class="detail">
                        <h3>Air cooling system</h3>
                        <p>Ensures a comfortable driving experience by quickly regulating the interior temperature, offering adjustable settings, clean air filtration, and integrated defrosting for optimal comfort and safety.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">5</div>
                    <div class="icon">
                        <i class="flaticon-fuel"></i>
                    </div>
                    <div class="detail">
                        <h3>Oil Service</h3>
                        <p></p>
                    </div>It provide smooth engine operation by replacing old oil with clean lubricant, removing contaminants, and protecting engine components, ultimately prolonging engine life and enhancing performance.
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">7</div>
                    <div class="icon">
                        <i class="flaticon-wheel"></i>
                    </div>
                    <div class="detail">
                        <h3>Engine rebuilding</h3>
                        <p>It involves a meticulous process of refurbishing internal components to restore optimal performance, includes replacement of worn parts,balancing, and testing, providing a cost-effective and solution for enhancing engine performance.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">6</div>
                    <div class="icon">
                        <i class="flaticon-car-2"></i>
                    </div>
                    <div class="detail">
                        <h3>Vehicle Dealership</h3>
                        <p>Our dealership offers a wide selection of vehicles,flexible financing options, certified pre-owned vehicles, exceptional customer service, comprehensive service and maintenance, trade-in assistance, and community involvement.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">8</div>
                    <div class="icon">
                        <i class="flaticon-lock"></i>
                    </div>
                    <div class="detail">
                        <h3>Protection</h3>
                        <p>Car protection encompasses safety features, preventive technologies, security systems,regular maintenance, protective accessories,defensive driving,to ensure the safety and security of both vehicle and its occupants.</p>
                    </div>
                </div>
            </div>
	
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">9</div>
                    <div class="icon">
                        <i class="flaticon-deal"></i>
                    </div>
                    <div class="detail">
                        <h3>Trusted Partner</h3>
                        <p>As your trusted partner, we offer personalized guidance, transparent communication,comprehensive assistance, and a commitment to customer satisfaction, fostering long-term relationships built on trust and reliability.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services end -->



<!-- Service center strat -->
<div class="service-center content-area-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
               
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="about-text">
                    <h3>Our Services <span>Video</span></h3>
                    <p>The video service section of our car website provides a dynamic and immersive experience for visitors, offering a diverse range of engaging content. From captivating showcases of the latest car models, complete with detailed features and design aesthetics, to virtual test drives providing firsthand insights into performance and comfort, we aim to empower potential buyers with the information they need to make informed decisions. Customer testimonials offer authentic perspectives on ownership experiences, while maintenance guides and owner's manual walkthroughs provide valuable tips and insights for vehicle care and operation. Behind-the-scenes tours of manufacturing processes highlight craftsmanship and quality control measures, while technology demonstrations showcase innovative features and connectivity options. </p>
                    <p class="mb-0">Our comparison reviews help buyers evaluate different models, and event coverage keeps enthusiasts informed about the latest automotive trends and developments. Additionally, safety information, including crash test results and safety ratings, underscores our commitment to prioritizing the well-being of our customers. Through compelling video content, we strive to enhance user engagement and provide a comprehensive resource for all automotive enthusiasts and consumers.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Service center end -->

{% endblock %}
